#main {
background-color:whitesmoke;
border: 1px solid;
border-color:darkgrey;
color:darkblue;
font-family: 'Arial', sans-serif;
padding: 0px 20px 20px 20px;
width: 60%;
height:auto;
margin-left: 20%;
margin-right: 20%;
}
